.board {
  padding: 1em 3em 3em;
  height: 100%;
  width: calc(100% - 230px);
  margin-left: auto;
  // background-color: #fff;
  // background-color: rgba(15, 53, 169, .1);
  // background-color: rgba(140, 215, 248, .1);

  .board-small-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: .5em;

    .organization {
      color: #8993a4;
      margin-right: 3em;

      p {
        font-size: .9em;

        span {
          margin-left: .25em;
          font-size: 1rem;
          color: #172b4d;
          font-weight: 500;
        }
      }
    }

    .question-button {
      font-size: 1.2em;
      color: #8CD7F8;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .board-top {
    display: flex;
    align-items: center;
    margin-bottom: 2em;

    .board-top-content {
      display: flex;
      align-items: center;

      .board-title {
        margin-right: 2rem;
      }

      .small-nav {
        padding-right: 2em;
        margin-right: 2em;
        border-right: 1px solid #dfe1e6;

        i {
          font-size: 1.25em;

          &:not(:last-child) {
            margin-right: 1.5em;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .search-box {

      i {
        font-size: 1.1em;
        vertical-align: middle;
        margin-right: 10px;
      }

      input {
        border: none;
        min-width: 400px;
        background-color: transparent;

        &::-webkit-input-placeholder {
          /* Edge */
          color: #8993a4;
        }

        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: #8993a4;
        }

        &::placeholder {
          color: #8993a4;
        }
      }
    }
  }

  .board-navigation {

    &:after {
      z-index: -1;
      content: '';
      display: block;
      border-bottom: 2px solid #f0f0f0;
      position: relative;
      top: -1px;
    }

    li {
      padding-bottom: 1em;
      border-bottom: 3px solid transparent;
      display: inline-block;

      &:not(:last-child) {
        margin-right: 3em;
      }

      &:hover,
      &.active {
        border-bottom-color: #0f35a9;
        cursor: pointer;
      }
    }
  }

  .board-content-top {
    padding: 2em;
    display: flex;
    justify-content: space-between;


    .ticket-status {
      box-shadow: 0 2px 6px 0 rgba(15, 53, 169, .1);
      border-radius: 8px;
      // border-top: 3px solid #0f35a9;
      display: inline-block;
      width: 17%;
      background-color: #fff;
      padding: 1em 1.5em;
      
      .ticket-icon {
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        margin-bottom: 0;
        background-color: #0f36a90c;
        float: left;
        margin-right: 3em;
        text-align: center;

        i {
          color: #0f35a9;
          line-height: 3.5rem;
          font-size: 1.5em;
        }
      }

      p {
        font-size: .85em;
        color: #8993a4;
        // margin-bottom: 1em;

        &.ticket-number {
          color: black;
          font-size: 1.4em;
          font-weight: 600;
        }
      }

      .ticket-content{
        display: inline-block;
      }
    }


  }
}