
.issue-type-cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // height: 150px;

  .ticket-status {
    box-shadow: 0 2px 4px 1px rgba(15, 53, 169, .1);
    border-radius: 8px;
    // border-top: 3px solid #0f35a9;
    display: inline-block;
    width: 22%;
    background-color: #fff;
    padding: 20px 30px;

    .ticket-icon {
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      margin-bottom: 0;
      background-color: #0f36a90c;
      float: left;
      margin-right: 3em;
      text-align: center;

      i {
        color: #0f35a9;
        line-height: 3.5rem;
        font-size: 1.5em;
      }
    }

    p {
      font-size: .85em;
      color: #8993a4;
      font-weight: 600;
      // margin-bottom: 1em;

      &.ticket-number {
        color: black;
        font-size: 24px;
        font-weight: 600;
      }
    }

    .ticket-content {
      display: inline-block;
    }
  }
}
