  .monthlyCalendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
    // border-top: 2px solid #ddd;
    // border-bottom: 2px solid #ddd;

    .monthAndyear {
      font-weight: 600;
      font-size: 24px;
      // display: inline-block;

      .month {
        margin-right: .5em;
      }
    }

    .button-container {
      span {
        font-size: 22px;
        margin-right: 1rem;
        cursor: pointer;
      }

      .returnButton {
        cursor: pointer;
        border: 1px solid rgb(23, 43, 77);
        border-radius: 3px;
        padding: .75em 1.25em;
        font-size: 14px;
        font-weight: 500;
        margin-right: 1rem;

      }
    }

  }

  .day-grid-container {
    display: flex;
    padding: .5em 0;
    border-bottom: 2px solid #ddd;

    .dayCell {
      width: 14.28%;
      max-width: 14.28%;
      padding: 0 .5rem;
      text-align: center;
      color: #999;
      font-weight: 600;
      font-size: 14px;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(7, 14.28%);
    // grid-template-columns: repeat(7, minmax(20px, 1fr));
    // grid-template-rows: repeat(auto-fill, 120px);
    // grid-template-rows: repeat(1, 20px);
    // grid-template-rows: 50px;
    grid-auto-rows: 180px;
    border-right: 2px solid #ddd;
  }