  .monthlyCalendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
    // border-top: 2px solid #ddd;
    // border-bottom: 2px solid #ddd;

    .monthAndyear {
      font-weight: 600;
      font-size: 24px;
      // display: inline-block;

      .month {
        margin-right: .5em;
      }
    }

    .button-container {
      span {
        font-size: 22px;
        margin-right: 1rem;
        cursor: pointer;
      }

      .moveButton{
        padding: .7em 1em;
      }

      .returnButton {
        cursor: pointer;
        border: 1px solid rgba(23, 43, 77, .3);
        border-radius: 3px;
        padding: .7em 1em;
        font-weight: 500;
        margin-left: .75rem;
        margin-right: .75rem;
      }
    }

  }

  .day-grid-container {
    display: flex;
    padding: .5em 0;
    border-bottom: 2px solid rgba(166, 168, 179, 0.12);
    padding-right: 13px;

    .dayCell {
      width: 14.28%;
      max-width: 14.28%;
      padding: 0 .5rem;
      text-align: right;
      color: #99a1a7;
      font-weight: 500;
      font-size: 14px;
    }
  }

  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(7, 14.28%);
    // grid-template-columns: repeat(7, minmax(20px, 1fr));
    // grid-template-rows: repeat(auto-fill, 120px);
    // grid-template-rows: repeat(1, 20px);
    // grid-template-rows: 50px;
    grid-auto-rows: 130px;
    // border-right: 2px solid rgba(166, 168, 179, 0.12);
  }